-- 修改users表，添加个人资料相关字段
alter table users add column if not exists phone text;
alter table users add column if not exists real_name text;
alter table users add column if not exists id_card text;
alter table users add column if not exists verified boolean default false;
alter table users add column if not exists avatar text;
