@font-face {
  font-family: "iconfont"; /* Project id 5117717 */
  src: url('iconfont.woff2?t=1769434333702') format('woff2'),
       url('iconfont.woff?t=1769434333702') format('woff'),
       url('iconfont.ttf?t=1769434333702') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhanghaoguanli:before {
  content: "\e660";
}

.icon-zhanghaoguanli1:before {
  content: "\e71b";
}

.icon-zhibiao:before {
  content: "\e606";
}

.icon-tongji:before {
  content: "\e60c";
}

.icon-jigouliebiao:before {
  content: "\e61a";
}

.icon-linianzhibiao:before {
  content: "\e61f";
}

.icon-shujucaiji:before {
  content: "\e621";
}

.icon-jieguofabu:before {
  content: "\e624";
}

.icon-jifenhuizong:before {
  content: "\e62c";
}

.icon-tubiao:before {
  content: "\e631";
}

.icon-shuju:before {
  content: "\e63d";
}

