* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  

}
/* 定制主题颜色 */
:root {
  --button-primary-bg: #a6cbe5;
  --card-bg-color: #f6fafc;
  --bcg: #f6fafc;
  --layoutBcg: #f5f7fa;
}

html,
body {
  height: 100%;
  font-size: 16px; // 作为rem的基准（可根据屏幕调整）
}

// 适配滚动条
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
// 图标
.icon {
  width: 1em;    /* 大小自适应 */
  height: 1em;
  vertical-align: -0.15em; /* 垂直居中 */
  fill: currentColor; /* 继承父元素颜色 */
  overflow: hidden;
  z-index: 5;
}
